body{
	height: 100%;
	width: 100%;
	background-color: rgb(37, 36, 36);
}

div.activeDice{
	float:left;
	width:32px;
	background:#F5F5F5;
	border:#999 1px solid;
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}

div.inactiveDice{
	float:inline-end;
	width:32px;
	background:#ff0000;
	border:#999 1px solid;
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}

#game{
	width: 80%;
	display: grid;
	margin: auto;
	justify-items: center;
	background-color: rgb(226, 226, 218);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

.message{
	margin-bottom: 1%;
}

#buttons{
	margin-bottom: 3%;
	margin-left: 1%;
}

#code{
	width: 80%;
	display: grid;
	margin: auto;
	justify-items: center;
	background-color: rgb(226, 226, 218);
}

pre{
	min-width: 60%;
	max-width: 60%;
}